[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
pip = "==21.2.4"
setuptools = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
